@media only screen and (min-aspect-ratio: 1 / 1) and (max-aspect-ratio: 4 / 3) {
  @media (min-width: 2000px) {
    .black-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: 1000; /* Поместить фон выше других элементов */
    }

    .clicker-image {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px; /* Ширина изображения */
      height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    }
  }

  @media (max-width: 2000px) {
    .black-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: 1000; /* Поместить фон выше других элементов */
    }

    .clicker-image {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px; /* Ширина изображения */
      height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    }
  }

  @media (max-width: 1680px) {
    .black-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: 1000; /* Поместить фон выше других элементов */
    }

    .clicker-image {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px; /* Ширина изображения */
      height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    }
  }

  @media (max-width: 1200px) {
    .black-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: 1000; /* Поместить фон выше других элементов */
    }

    .clicker-image {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px; /* Ширина изображения */
      height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    }
  }

  @media (max-width: 1000px) {
    .black-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: 1000; /* Поместить фон выше других элементов */
    }

    .clicker-image {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px; /* Ширина изображения */
      height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    }
  }
}

@media only screen and (min-aspect-ratio: 4 / 3) and (max-aspect-ratio: 8 / 5) {
  @media (min-width: 2000px) {
  }

  @media (max-width: 2000px) {
  }

  @media (max-width: 1680px) {
  }

  @media (max-width: 1200px) {
  }

  @media (max-width: 1000px) {
  }
}

@media only screen and (min-aspect-ratio: 8 / 5) and (max-aspect-ratio: 16 / 9) {
  @media (min-width: 2000px) {
  }

  @media (max-width: 2000px) {
  }

  @media (max-width: 1680px) {
  }

  @media (max-width: 1200px) {
  }

  @media (max-width: 1000px) {
  }
}

@media only screen and (min-aspect-ratio: 16 / 9) and (max-aspect-ratio: 21 / 9) {
  @media (min-width: 2000px) {
  }

  @media (max-width: 2000px) {
  }

  @media (max-width: 1680px) {
  }

  @media (max-width: 1200px) {
  }

  @media (max-width: 1000px) {
  }
}

/* Mobile viewports */

/* Devices: Not found in any modern mainstream device but still useful */
@media only screen and (aspect-ratio: 9 / 16) {
  .clicker-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px; /* Ширина изображения */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
  }
}

/* chemi divice chemikai Devices: iPhone 5/SE, Kindle Fire */
@media only screen and (min-aspect-ratio: 9 / 16) and (max-aspect-ratio: 4 / 5) {
  /* BeboClicker.css */

  /* Общие стили для приложения */

  html,
  body {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    overflow: hidden;
    user-select: none; /* Предотвращение выделения текста на всей странице */
    margin: 0;
    padding: 0;
  }

  .black-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 0; /* Поместить фон выше других элементов */
  }

  .no-select {
    user-select: none;
    cursor: default;
  }

  .clicker-image {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 260px; /* Уменьшите или увеличьте в зависимости от требований */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
    z-index: 2;
  }

  .coins-display {
    position: fixed;
    text-align: center;
    top: 25px;
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 40px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 2; /* Задать z-index выше черного фона */
  }

  .energy-display {
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
    z-index: 2; /* Задать z-index выше черного фона */
  }

  .divider {
    width: 100%; /* Ширина равна ширине viewport (всего экрана) */
    border: none;
    border-top: 1px solid white; /* Параметры границы */
    position: fixed; /* Фиксированное позиционирование */
    bottom: 70px; /* Расположение снизу от нижних кнопок */
    left: 0; /* Выравнивание по левому краю */
    z-index: 2; /* Задать z-index выше черного фона */
  }

  .bottom-buttons {
    position: fixed;
    bottom: 10px;
    width: 100%;
    left: 0px;
    display: flex;
    justify-content: space-around;
    z-index: 3; /* Убедитесь, что кнопки находятся выше других элементов */
    user-select: none;
  }

  .button {
    width: 60px;
    height: 60px;
    border-radius: 10px; /* Изменено с 50% на 10px для создания квадрата */
    overflow: visible;
    transition: transform 0.2s ease-in-out;
    z-index: 3; /* Убедитесь, что кнопки находятся выше других элементов */
    user-select: none;
  }

  .button:hover {
    transform: scale(1.1);
    user-select: none;
    z-index: 4;
  }

  .boost-button {
    background-color: transparent; /* Удалить любой фоновый цвет */
    background-image: url("./boost-image.png"); /* Оставить только иконку */
    background-size: cover; /* Подходящий размер для изображения */
    border: none; /* Удалить рамку */
    outline: none; /* Удалить контур */
  }

  .boosttextbtn {
    color: white;
    right: 0px;
    position: relative;
    font-size: 0.9em;
    z-index: 3;
    bottom: 27px;
    text-align: center;
    user-select: none;
  }

  .missions-button {
    background-color: transparent; /* Удалить любой фоновый цвет */
    background-image: url("missions-image.png"); /* Оставить только иконку */
    background-size: cover; /* Подходящий размер для изображения */
    border: none; /* Удалить рамку */
    outline: none; /* Удалить контур */
  }

  .missiontextbtn {
    color: white;
    right: 0px;
    position: relative;
    font-size: 0.9em;
    z-index: 3;
    bottom: 27px;
    text-align: center;
    user-select: none;
  }

  .referral-button {
    background-image: url("./referral-image.png");
    background-color: transparent; /* Удалить любой фоновый цвет */
    background-size: cover; /* Подходящий размер для изображения */
    border: none; /* Удалить рамку */
    outline: none; /* Удалить контур */
  }

  .referaltextbtn {
    color: white;
    right: 0px;
    position: relative;
    font-size: 0.9em;
    z-index: 3;
    bottom: 27px;
    text-align: center;
    user-select: none;
  }

  .button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }

  /* Добавьте новый класс для скрытия элементов */

  .boost-active .energy-display,
  .boost-active .clicker-image {
    display: none !important; /* Скрытие элементов при активации Boost */
  }

  .hidden {
    display: none; /* или другие стили, скрывающие элемент */
  }

  .boost-active .divider,
  .boost-active .coins-display {
    display: visible !important; /* Скрытие элементов при активации Boost */
  }

  .back-button {
    color: rgb(0, 0, 0);
    right: 280px;
    position: absolute;
    font-size: 0.9em;
    z-index: 3;
    bottom: 555px;
    text-align: center;
    user-select: none;
    height: 30px;
  }

  .click-boost-button {
    position: absolute;
    bottom: 450px;
    left: 20px;
    background-color: rgb(88, 84, 84);
    color: yellow;
    width: 150px;
  }

  .restore-energy-button {
    position: absolute;
    bottom: 450px;
    left: 195px;
    background-color: rgb(88, 84, 84);
    color: yellow;
    width: 150px;
  }

  .upgrade-coins-per-click-button {
    position: absolute;
    bottom: 350px;
    left: 20px;
    background-color: rgb(88, 84, 84);
    color: yellow;
    width: 325px;
  }
}

/* Devices: Samsung */
@media only screen and (min-aspect-ratio: 9 / 21) and (max-aspect-ratio: 9 / 19.5) {
  .clicker-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px; /* Ширина изображения */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
  }
}

/* Tablet viewports */

/* Devices: iPad */
@media only screen and (min-aspect-ratio: 16 / 24) and (max-aspect-ratio: 3 / 4) {
  .clicker-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; /* Ширина изображения */
    height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
  }
}
